body{
    /* align-items: center; */
    font-size:large;
    background-image: url("photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.head{
    text-align: center;
    background-color: aqua;
}

.main{
  display: flex;
  justify-content: start;
  flex-direction: row;
}
/* .button-group{
    display :flex;
    margin-top:10px;
    justify-content: space-between;
} */
.edit-button{
  background-color:yellow;

}
.delete-button{
  background-color: red;
  color: pink;
}


.container {

    width:500px;
    line-height: 2;

  }
  .btn{
    /* display: flex; */
    /* justify-content: space-between; */
  /* margin-left: 1000px; */
  color: red;
  background-color:black
  }
.bt1{
  background-color: greenyellow;

}
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  #validationResult1,#validationResult2 {
    color: red;
  }
  
  .sdelete{
    background-color: yellow;
  }
  /* .bt1,bt2{
  margin-left: 200px;
  } */

  button {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
  }

.table1{
  border: 1px;
  margin-left:800px; 
   position: absolute;
  top: 100px;
  font-style: italic;
  color:black;
  border-collapse: collapse;
  
}
th, td{
  border: 1px solid black;
}
  
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

button[type="reset"] {
  background-color: #f44336;
  color: white;
}

span{
  color: #f44336;
}
#date{
  margin-top: 10px;
}
th{
  color: indigo;
 border:10px;
}
#startDate{
  width: 500px;
}
#endDate{
  width: 500px;
}